@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    color: #ffffff;
}

.about-container {
    padding-top: 10px;
}

.txt-header-text {
    color: #ffffff;
    font-size: 2em;
    font-weight: bold;
}

.txt-header {
    text-align: center;
    margin-top: 1rem;
}

.about-content {
    display: flex;
    justify-content:space-around;
}

.description-header, .tools-header, .education-header, .contact-redirect-container {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1rem;
}

.tool-component {
    display: flex;
    flex-direction: row;
    margin: auto 0;
}

.tool-icon {
    width: 3rem;   
}

.tool-icon-unity {
    width: 3rem;
    transform: scale(1.2, 0.50);
}

.tools-header, .description-header, .education-header, .contact-redirect-container {
    text-align: center;
}

.tool-text {
    padding: 20px;
    margin: 20px auto;
    font-weight: 200;
    font-size: 2em;
}

.emoji {
    font-size: 2em;
    margin: 20px auto;
}

.point {
    list-style-type: none;
}

.point-content {
    font-size: 1.2em;
    font-weight: 300;
    float: right;
    margin-top: 0.8em;
}

.education-main {
    margin-top: 3rem;
}

.timeline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 0;
}

.education-content {
    height : 3rem;
    margin-top: 10px;
} 

.about-contact {
    margin-top: 3rem;
}

.contact-redirect-button {
    padding: 1rem 2rem;
    color: rgba(254, 254, 254, 0.892);
    background-color: rgba(52, 107, 218, 0.974);
    border-style: none;
    border-radius: 3px;
    margin-top: 1rem;
    font-size: 0.7em;
    cursor: pointer;
}

.contact-redirect-button:hover {
    color: rgba(255, 255, 255, 0.892);
    background-color: rgba(72, 128, 242, 0.974);
}

.education-main, .tool-container, .description-container, .about-contact {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
}

@media screen and (max-width:768px) {
    .about-content {
        display: flex;
        flex-direction: column;
        padding: 10vw;
    }

    .tools {
        margin-top: 3rem;
    }

    .tool-component {
        display: flex;
        flex-direction: row;

    }

    .tool-text {
        padding: 20px;
        font-weight: 200;
        font-size: 2em;
        margin: 20px;
    }

    .tool-icon, .tool-icon-unity {
        margin-left: 1rem;
    }

    .point-child {
        display:flex;
        flex-direction: column;
        overflow-y: visible;
        text-align: center;
    }
}

@media screen and (max-width:576px) {
    .about-content {
        display: flex;
        flex-direction: column;
        padding: 3vw;
    }

    .point-child {
        display:flex;
        flex-direction: column;
        overflow-y: visible;
        text-align: center;
    }

}