@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    color: #ffffff;
}

.main-content {
    padding-bottom: 3rem;
}

.contact-list {
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.contact-link {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #343030c6;
    color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.contact-link:hover {
    background-color: #4b4848de;
    color: #ffffff;
}

.contacts-icon {
    float: left;
    margin-right: 10px;
}

.footer-txt {
    display: table;
    margin: 0 auto;
    margin-bottom: 1rem;
    font-weight: bold;
}

.credits {
    margin-top: 1rem;
    font-size: 0.8rem;
    display: table;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.748)
}

