@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    
}

.content {
    background-size: 100vw; 
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: clip;
    /* overflow-x:clip; */
}

.interface-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: clip;
}

.title-canvas {
    background: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
}

.main-canvas {
    background: rgba(0,0,0,0);
    /* width: 100%; */
    height: 40vh;
}

.planets {
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.planets-container {
    width: 95vw;
    margin: 0 20%;
}

.arrowBtn {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    background-color: rgba(235,233,238,0.5);
    cursor: pointer;
    border: none;
}


.arrowBtn-left, .arrowBtn-right {
    font-size: 2rem;
    color: rgb(26, 25, 25)
}


.icon-left {
    margin-right: 3rem;
}

.icon-right {
    margin-left: 3rem;
}

.arrowBtn:hover {
    background-color: rgba(243, 240, 248, 0.8);
}

.canvas-container {
    width: 40vw;
}

.profpic {
    width: 40%;
    height: 40%;
    margin: 0% 5%;
}

.intro-container {
    width: 60%;
    text-align: start;
    /* overflow-y: clip; */
}

.picture-container {
    display: flex;
    flex-direction: row;
}

.home-title {
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.home-button-container {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 1rem;
}

.home-icon {
    width: 3rem;
    height: 3rem;
    margin: 0 2rem;
    color:rgba(223, 211, 243, 0.5);
    border:none;
}

.home-icon:hover {
    color: rgba(223, 211, 243, 1);
}



@media screen and (max-width: 1200px) {

    .profpic {
        width: 40%;
        height: 40%;
        margin-left: 10%;
    }

    .name-canvas {
        height: 20vh;
    }

    .picture-container {
        flex-direction: column;
    }

    .profpic {
        margin: 0 20%;
    }

    .intro-container {
        width: 75%;
    }

    .icon-left {
        margin-right: 1rem;
    }
    
    .icon-right {
        margin-left: 1rem;
    }

    .arrowBtn {
        height : 4rem;
        width : 4rem;
    }

    .arrowBtn-left, .arrowBtn-right {
        font-size: 2rem;
    }

    .subtext-container {
        margin-top: 0 !important;
    }

    .planets-container {
        height: 75vh;
        width: 95vw;
    }

}

@media screen and (max-width: 996px) {
    .picture-container {
        flex-direction: column;
    }
    
    .profpic {
        margin: 0 20%;
    }
    
    .intro-container {
        width: 75%;
    }
    
    .icon-left {
        margin-right: 1rem;
    }
    
    .icon-right {
        margin-left: 1rem;
    }
    
    .arrowBtn {
        height : 4rem;
        width : 4rem;
    }
    
    .arrowBtn-left, .arrowBtn-right {
        font-size: 2rem;
    }
    
    .subtext-container {
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 576px) {
    .profpic {
        width: 50%;
        height: 50%;
    }

    .icon-left {
        margin-right: 0.5rem;
    }
    
    .icon-right {
        margin-left: 0.5rem;
    }

    .arrowBtn {
        height : 2rem;
        width : 2rem;
    }

    .arrowBtn-left, .arrowBtn-right {
        font-size: 1rem;
    }

    .home-title {
        font-size : 1rem;
    }

    .home-button-container {
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        margin-top: 1rem;
    }
    
    .home-icon {
        width: 2rem;
        height: 2rem;
        margin: 0 1.25rem;
    }
}

.name-canvas {
    background: rgba(0,0,0,0);
    width: 100%;
    height: 35vh !important;

}

#video-bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.subtext-container {
    background-color:rgba(26, 25, 25, 0.75);
    width: 50vw;
    border-radius: 10px;
    margin-top: 3rem;
    color: #ffffff;
    font-weight: bold;
    padding: 3px 0;
    
}


.carousel {
    width: 100vw;
    height: 100%;
    position: relative;

}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slide > div {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
}

.arrowBtn {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 .5rem;
}

.carousel > ul {
    margin : 0;
    padding: 0;
    list-style-type: none;
}

.icon-left {
    left: 1rem;
}

.icon-right {
    right: 1rem;
}

