@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    color: #e8e3f1;
    box-shadow: 1px 9px 32px -7px rgba(0,0,0,0.75);
}

.navbar-logo {
    font-size: 1.3rem;
    margin: 1rem;
    color: #1d1d1d;
}

.navbar-spacer {
    color: #1d1d1d;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
     align-items: center; /* add this */
}

.navbar-links li {
    list-style: none;
    align-items: center;
    margin-right: 10px;
}

.navbar-links li .navbar-links-dir {
    text-decoration: none;
    color:#1D1D1D;
    padding: 0.5rem;
    /* display: block; */
    transition: all 0.3s ease-in-out;
}

.navbar-links li .navbar-links-dir:hover {
    background-color: #28272a;
    transition: all 0.3s ease-in-out;
    color: #FFFFFF;
}

.navbar-contact {
    background-color: #90DE1B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem; /* your desired padding */
}

.navbar-contact:hover {
    background-color: #bff570;
    transition: all 0.3s ease-in-out;
    border: 2px solid black;
}

.navbar-contact-dir {
    text-decoration: none;
    color: #1d1d1d;
    padding-right: 1rem;
    font-weight: 500;
}

.navbar-arrow {
    width:1rem;
    height: 1rem;
}

.toggle-btn {
    position: absolute;
    top: 1.2em;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: #3d3b40;
    border-radius: 5px;

}

@media only screen and (max-width: 600px) {
    .toggle-btn {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li .navbar-links-dir {
        padding: 0.5em 0.5em;
    }

    .navbar-links.active {
        display: flex;
    }
}