.contact-display {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.contact-display-container {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    border: 3px solid white;
}
