.profile-content {
    text-align: left;
    padding: 1rem;
}

.profile-content-title {
    color: #fff;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.profile-content-text {
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 0;
}